.question {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tests {
	width: 40%;
}

.selectors {
	display: flex;
	flex-direction: row;
	gap: 10px;
	font-size: 20px;
}

.header {
	background-color: #a3b18a;
	color: #3a5a40;
	border: 8px;
	border-style: double;
	font-size: 50px;
	text-align: center;
	border-radius: 7px;
	margin-top: 0px;
	padding: 12px;

}

body {
	background-color: #dad7cd;
	margin: 0px;
}

.titles {
	font-family: "Sour Gummy";
	background-color: #ffe5ec;
	border-radius: 5px;
	font-style: bold;
	font-size: 20px;
	padding: 20px;
	color: #344e41;
}

#result {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
}

button {
	background-color: #eff6e0;
	font-family: "Sour Gummy";
	font-size: 24px;
	display:flex;
	align-items: center;
	padding: 10px;
}