button {
	border: 3px solid #5e7853;
	background-color: #ccd8c7;
	border-radius: 3px;
	font-size: 20px;
	margin-left: 15px;
}

label {
	font-size: 25px;

}

ul {
	list-style: none;
}

li {
	margin-bottom: 15px;
	font-size: 20px;
}

input {
	background-color: #d1dbcc;
}