body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.contact {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card {
  background: #fff;
  padding: 0px 30px 30px 30px;
  border-radius: 10px;
  border: 2px lightgray solid;
}

#contact-title {
  font-size: 40px;
}

#contact-description {
  max-width: 400px;
  color: #a0a0a0;
  margin-top: 15px;
  margin-bottom: 25px;
}

#contact-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-label {
  color: #a0a0a0;
  width: 100%;
  margin-top: 10px;
}

.contact-input,
.contact-textarea {
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  background: #eee;
  color: #969696;
}

.contact-button {
  border: none;
  width: 100%;
  padding: 12px;
  background-color: #ff742e;
  color: #fff;
  border-radius: 8px;
  font-size: 20px;
}

.contact-button:hover {
  background-color: #e16628;
}